In [1]:
import lassi_analysis.utils as ff

In [2]:
dir(ff)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__']

In [3]:
from lassi_analysis.utils import parseToFile

In [4]:
dir(ff) # notice when loading again and printing the dir of the object there is now a new module available

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'parseToFile']

In [5]:
test = parseToFile.generate_dict("test-data/test.lammpstrj")

In [6]:
test

{'id_to_atom-type': {0: 1,
  1: 2,
  2: 0,
  3: 0,
  4: 2,
  5: 0,
  6: 2,
  7: 2,
  8: 2,
  9: 5},
 'structured-data': {0: {0: {0: {'x': 36, 'y': 78, 'z': 96},
    1: {'x': 37, 'y': 79, 'z': 95},
    2: {'x': 36, 'y': 78, 'z': 94},
    3: {'x': 35, 'y': 79, 'z': 93},
    4: {'x': 36, 'y': 79, 'z': 93},
    5: {'x': 36, 'y': 80, 'z': 92},
    6: {'x': 36, 'y': 81, 'z': 91},
    7: {'x': 36, 'y': 82, 'z': 90},
    8: {'x': 37, 'y': 82, 'z': 89},
    9: {'x': 37, 'y': 83, 'z': 88}}},
  10: {0: {10: {'x': 36, 'y': 78, 'z': 96},
    11: {'x': 37, 'y': 79, 'z': 95},
    12: {'x': 36, 'y': 78, 'z': 94},
    13: {'x': 35, 'y': 79, 'z': 93},
    14: {'x': 36, 'y': 79, 'z': 93},
    15: {'x': 36, 'y': 80, 'z': 92},
    16: {'x': 36, 'y': 81, 'z': 91},
    17: {'x': 36, 'y': 82, 'z': 90},
    18: {'x': 37, 'y': 82, 'z': 89},
    19: {'x': 37, 'y': 83, 'z': 88}}},
  20: {0: {20: {'x': 36, 'y': 78, 'z': 96},
    21: {'x': 37, 'y': 79, 'z': 95},
    22: {'x': 36, 'y': 78, 'z': 94},
    23: {'x': 35, 'y': 79, 'z': 93},
    24: {'x': 36, 'y': 79, 'z': 93},
    25: {'x': 36, 'y': 80, 'z': 92},
    26: {'x': 36, 'y': 81, 'z': 91},
    27: {'x': 36, 'y': 82, 'z': 90},
    28: {'x': 37, 'y': 82, 'z': 89},
    29: {'x': 37, 'y': 83, 'z': 88}}},
  30: {0: {30: {'x': 36, 'y': 78, 'z': 96},
    31: {'x': 37, 'y': 79, 'z': 95},
    32: {'x': 36, 'y': 78, 'z': 94},
    33: {'x': 35, 'y': 79, 'z': 93},
    34: {'x': 36, 'y': 79, 'z': 93},
    35: {'x': 36, 'y': 80, 'z': 92},
    36: {'x': 36, 'y': 81, 'z': 91},
    37: {'x': 36, 'y': 82, 'z': 90},
    38: {'x': 37, 'y': 82, 'z': 89},
    39: {'x': 37, 'y': 83, 'z': 88}}}},
 'dimensions': [0, 120],
 'natoms': 27400}

In [7]:
import json

In [8]:
print(json.dumps(test,indent=4))

{
    "id_to_atom-type": {
        "0": 1,
        "1": 2,
        "2": 0,
        "3": 0,
        "4": 2,
        "5": 0,
        "6": 2,
        "7": 2,
        "8": 2,
        "9": 5
    },
    "structured-data": {
        "0": {
            "0": {
                "0": {
                    "x": 36,
                    "y": 78,
                    "z": 96
                },
                "1": {
                    "x": 37,
                    "y": 79,
                    "z": 95
                },
                "2": {
                    "x": 36,
                    "y": 78,
                    "z": 94
                },
                "3": {
                    "x": 35,
                    "y": 79,
                    "z": 93
                },
                "4": {
                    "x": 36,
                    "y": 79,
                    "z": 93
                },
                "5": {
                    "x": 36,
                    "y": 80,
                    "z": 92
                },
                "6": {
                    "x": 36,
                    "y": 81,
                    "z": 91
                },
                "7": {
                    "x": 36,
                    "y": 82,
                    "z": 90
                },
                "8": {
                    "x": 37,
                    "y": 82,
                    "z": 89
                },
                "9": {
                    "x": 37,
                    "y": 83,
                    "z": 88
                }
            }
        },
        "10": {
            "0": {
                "10": {
                    "x": 36,
                    "y": 78,
                    "z": 96
                },
                "11": {
                    "x": 37,
                    "y": 79,
                    "z": 95
                },
                "12": {
                    "x": 36,
                    "y": 78,
                    "z": 94
                },
                "13": {
                    "x": 35,
                    "y": 79,
                    "z": 93
                },
                "14": {
                    "x": 36,
                    "y": 79,
                    "z": 93
                },
                "15": {
                    "x": 36,
                    "y": 80,
                    "z": 92
                },
                "16": {
                    "x": 36,
                    "y": 81,
                    "z": 91
                },
                "17": {
                    "x": 36,
                    "y": 82,
                    "z": 90
                },
                "18": {
                    "x": 37,
                    "y": 82,
                    "z": 89
                },
                "19": {
                    "x": 37,
                    "y": 83,
                    "z": 88
                }
            }
        },
        "20": {
            "0": {
                "20": {
                    "x": 36,
                    "y": 78,
                    "z": 96
                },
                "21": {
                    "x": 37,
                    "y": 79,
                    "z": 95
                },
                "22": {
                    "x": 36,
                    "y": 78,
                    "z": 94
                },
                "23": {
                    "x": 35,
                    "y": 79,
                    "z": 93
                },
                "24": {
                    "x": 36,
                    "y": 79,
                    "z": 93
                },
                "25": {
                    "x": 36,
                    "y": 80,
                    "z": 92
                },
                "26": {
                    "x": 36,
                    "y": 81,
                    "z": 91
                },
                "27": {
                    "x": 36,
                    "y": 82,
                    "z": 90
                },
                "28": {
                    "x": 37,
                    "y": 82,
                    "z": 89
                },
                "29": {
                    "x": 37,
                    "y": 83,
                    "z": 88
                }
            }
        },
        "30": {
            "0": {
                "30": {
                    "x": 36,
                    "y": 78,
                    "z": 96
                },
                "31": {
                    "x": 37,
                    "y": 79,
                    "z": 95
                },
                "32": {
                    "x": 36,
                    "y": 78,
                    "z": 94
                },
                "33": {
                    "x": 35,
                    "y": 79,
                    "z": 93
                },
                "34": {
                    "x": 36,
                    "y": 79,
                    "z": 93
                },
                "35": {
                    "x": 36,
                    "y": 80,
                    "z": 92
                },
                "36": {
                    "x": 36,
                    "y": 81,
                    "z": 91
                },
                "37": {
                    "x": 36,
                    "y": 82,
                    "z": 90
                },
                "38": {
                    "x": 37,
                    "y": 82,
                    "z": 89
                },
                "39": {
                    "x": 37,
                    "y": 83,
                    "z": 88
                }
            }
        }
    },
    "dimensions": [
        0,
        120
    ],
    "natoms": 27400
}

In [10]:
from lassi_analysis.utils import dataFrame_functions

In [11]:
dir(ff) # notice when loading again and printing the dir of the object there is now a another new module available

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'dataFrame_functions',
 'parseToFile']

In [12]:
dir(dataFrame_functions)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'atom1ToOrigin',
 'c2d',
 'pandas']

# Create Dataframe From Parsed Dictionary

In [13]:
df1 = dataFrame_functions.c2d(test,0,0)

In [14]:
df1

    x   y   z
0  36  78  96
1  37  79  95
2  36  78  94
3  35  79  93
4  36  79  93
5  36  80  92
6  36  81  91
7  36  82  90
8  37  82  89
9  37  83  88

## Move Center of Coordinates to The Position of Atom 1 in sequence

In [15]:
df2 = dataFrame_functions.atom1ToOrigin(df1)

In [16]:
df2

   x  y  z
0  0  0  0
1  1  1 -1
2  0  0 -2
3 -1  1 -3
4  0  1 -3
5  0  2 -4
6  0  3 -5
7  0  4 -6
8  1  4 -7
9  1  5 -8