In [1]:
from parseToFile import *
from dataFrame_functions import *

In [2]:
f = parseToFile("../test-data/test.lammpstrj")
df = c2d(f,0,0)
h = atom1ToOrigin(df)

In [3]:
h

   x  y  z
0  0  0  0
1  1  1 -1
2  0  0 -2
3 -1  1 -3
4  0  1 -3
5  0  2 -4
6  0  3 -5
7  0  4 -6
8  1  4 -7
9  1  5 -8

In [4]:
print(h)

   x  y  z
0  0  0  0
1  1  1 -1
2  0  0 -2
3 -1  1 -3
4  0  1 -3
5  0  2 -4
6  0  3 -5
7  0  4 -6
8  1  4 -7
9  1  5 -8